*.pyc
*.tmp
*.swp
*.db
*.sqlite3
*/settings_*.py
*.iml
.idea
DEL
*.sql
*.bak
env*
.env
*.json
*.csv
*.html

data/
downloaded/

# Ignore all text files
*.txt

# Except requirements.txt
!requirements.txt
